<% layout('layout') %>

<div class="container-xxl d-flex flex-column align-items-center justify-content-center gap-4" style="height:100dvh">
    <img src="<%-image %>" style="max-width: 400px;width:100%;aspect-ratio: 1;" alt=""/>
    <h3><%- title%></h3>
    <a href="/" class="btn btn-primary btn-lg rounded-4" >Вернуться домой</a>
</div>