<div class="modal fade" id="deleteFsSelectedModal" tabindex="-1" aria-labelledby="deleteFsSelectedModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <form onsubmit="startDeleteList(event)" id="create-folder-form" class="modal-content p-1 rounded-4">
            <div class="modal-header border-0">
                <h1 class="modal-title fs-5" id="deleteFsSelectedModalLabel">Подтвердите удаление</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <div class="modal-body">
                <p class="mb-0 lh-md text-center">
                    Вы действительно хотите <b>безвозвратно удалить</b> объекты?
                    <ul class="mt-4 ms-3" id="delete-fs-selected-list">
                    </ul>
                </p>
            </div>
            <div class="modal-footer border-0">
                <div class="row w-100">
                    <div class="col-6">
                        <button type="button" data-bs-dismiss="modal" aria-label="Закрыть" class="btn btn-outline-secondary border-0 rounded-4 w-100">
                            Отмена
                        </button>
                    </div>
                    <div class="col-6">
                        <button type="submit" class="btn btn-danger rounded-4 w-100">
                            Удалить
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    let deletePathList = [];
    
    const startDeleteList = async(event) => {
        event.preventDefault();
        try {
            if(deletePathList.length===0) throw new Error("Пути не найдены");
            const req = await fetch('/api/delete-fs', {
                method: 'DELETE',
                headers: { 'Content-Type': 'application/json',"Accept":"application/json" },
                body: JSON.stringify({ base64Path:deletePathList })
            });
            if(!req.ok) throw new Error("Internet error");
            const res = await req.json();
            if(res.status===false) throw new Error(res.msg);
            window.location.reload();
        } catch(error) {
            alert("Возникла проблема при удаление. Посмотрите ошибку в консоле");
            console.error(error);
        }
    }
</script>